---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/sections/Hero.astro";
import AboutUs from "@/sections/AboutUs.astro";
import Services from "@/sections/Services.astro";
import Contact from "@/sections/Contact.astro";
import Info from "@/sections/Info.astro";
---

<Layout title="Koala Consulting">
  <main>
    <Hero />
    <Info />
    <!-- <AboutUs />
    <Services /> -->
    <Contact />
  </main></Layout
>
