---
import Layout from "@/layouts/Layout.astro";
import Brand from "@/components/Brand.astro";
import Hero from "@/sections/Hero.astro";
import CardSlider from "@/components/CardSlider.astro";
import Counter from "@/components/Counter.astro";
---

<Layout title="Koala Consulting">
  <main>
    <Hero />
    <Counter />
    <Brand />
    <CardSlider />
  </main></Layout
>
