---
import Layout from "@/layouts/Layout.astro";

import Hero from "@/sections/Hero.astro";
import Brand from "@/components/Brand.astro";
import TabNavigation from "@/components/TabNavigation.astro";
---

<Layout title="Koala Consulting">
  <main>
    <Hero />
    <Brand />
    <TabNavigation />
  </main></Layout
>
