---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/sections/Hero.astro";
import AboutUs from "@/sections/AboutUs.astro";
import Services from "@/sections/Services.astro";
import FormFinal from "@/components/FormFinal.astro";
---

<Layout title="Koala Consulting">
  <main>
    <Hero />
    <AboutUs />
    <Services />
    <FormFinal />
  </main></Layout
>
