---
import imagen from "@/assets/imagen.png";
---

<section class="mx-auto max-w-7xl" id="servicios">
  <div class="grid grid-cols-1 lg:grid-cols-3 md:gap-10">
    <div class="col-span-1">
      <img
        src={imagen.src}
        alt="imagen de gente trabajando"
        class="shadow-xl m-auto w-[100%] md:w-[75%] lg:w-full"
      />
    </div>
    <div
      class="w-full flex flex-col gap-5 justify-center items-center col-span-1 lg:col-span-2"
    >
      <h3
        class="text-white text-4xl md:text-5xl text-center font-bold mt-10 md:mt-0 md:w-[97%]"
      >
        Ayudamos a Nuestros Clientes a Resolver sus Problemas más Difíciles.
      </h3>
      <p
        class="text-white text-lg font-normal text-center md:text-start w-[100%] md:w-[90%]"
      >
        Conecta datos, procesos y equipos de trabajo con soluciones de negocio
        que generen agilidad operativa y más oportunidades de ventas.
      </p>
      <div class="flex flex-col md:flex-row justify-center gap-5">
        <div class="flex flex-row gap-3 ml-7 md:ml-0 justify-center">
          <div
            class="rounded-full bg-white bg-opacity-30 w-[62px] md:w-[82px] h-[60px] md:h-[75px] flex items-center justify-center"
          >
            <svg
              width="36"
              height="25"
              viewBox="0 0 36 25"
              class=""
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.42821 10.54C7.36227 10.54 8.93472 8.96757 8.93472 7.03352C8.93472 5.09946 7.36227 3.52701 5.42821 3.52701C3.49416 3.52701 1.92171 5.09946 1.92171 7.03352C1.92171 8.96757 3.49416 10.54 5.42821 10.54ZM29.9737 10.54C31.9078 10.54 33.4803 8.96757 33.4803 7.03352C33.4803 5.09946 31.9078 3.52701 29.9737 3.52701C28.0397 3.52701 26.4672 5.09946 26.4672 7.03352C26.4672 8.96757 28.0397 10.54 29.9737 10.54ZM31.727 12.2933H28.2205C27.2562 12.2933 26.3851 12.6823 25.7495 13.3124C27.9575 14.5232 29.5245 16.7093 29.8642 19.3063H33.4803C34.45 19.3063 35.2335 18.5228 35.2335 17.553V15.7998C35.2335 13.8657 33.6611 12.2933 31.727 12.2933ZM17.701 12.2933C21.0924 12.2933 23.8374 9.54834 23.8374 6.15689C23.8374 2.76544 21.0924 0.0205078 17.701 0.0205078C14.3095 0.0205078 11.5646 2.76544 11.5646 6.15689C11.5646 9.54834 14.3095 12.2933 17.701 12.2933ZM21.9088 14.0465H21.454C20.3144 14.5944 19.0488 14.9232 17.701 14.9232C16.3532 14.9232 15.093 14.5944 13.9479 14.0465H13.4932C10.0086 14.0465 7.18147 16.8736 7.18147 20.3582V21.9362C7.18147 23.3881 8.35943 24.566 9.81134 24.566H25.5906C27.0425 24.566 28.2205 23.3881 28.2205 21.9362V20.3582C28.2205 16.8736 25.3934 14.0465 21.9088 14.0465ZM9.65246 13.3124C9.0169 12.6823 8.14575 12.2933 7.18147 12.2933H3.67496C1.74091 12.2933 0.168457 13.8657 0.168457 15.7998V17.553C0.168457 18.5228 0.951942 19.3063 1.92171 19.3063H5.53231C5.87748 16.7093 7.44445 14.5232 9.65246 13.3124Z"
                fill="white"></path>
            </svg>
          </div>
          <p class="text-white my-auto font-bold text-lg w-[60%] md:w-[90%]">
            Equipo Multidisciplinario Altamente Calificado
          </p>
        </div>
      </div>
      <div
        class="px-16 py-4 rounded-xl shadow-lg text-xl font-semibold cursor-pointer
          hover:bg-secondary hover:text-white
          bg-teal-100
          text-primary
          border duration-200 ease-in-out
          border-secondary transition"
      >
        <a id="contact-button3" href="#contact"> Conocer Mas ➡ </a>
      </div>
    </div>
  </div>
</section>

<script>
  document
    .getElementById("contact-button3")
    .addEventListener("click", function (event) {
      event.preventDefault();
      document.getElementById("contact").scrollIntoView({ behavior: "smooth" });
    });
</script>
