---
import K from "./K.astro";
---

<div class="bg-primary py-6 max-w-full mx-auto shadow-xl">
  <div class="slide-track">
    <div class="slide">
      <div class="content">
        <p>SOMOS KOALA</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <K />
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <p>SOMOS KOALA</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <K />
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <p>SOMOS KOALA</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <K />
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <p>SOMOS KOALA</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <K />
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <p>SOMOS KOALA</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <K />
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <p>SOMOS KOALA</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <K />
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <p>SOMOS KOALA</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <K />
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <p>SOMOS KOALA</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <K />
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <p>SOMOS KOALA</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <K />
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <p>SOMOS KOALA</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <K />
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <p>SOMOS KOALA</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <K />
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <p>SOMOS KOALA</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <K />
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <p>SOMOS KOALA</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <K />
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <p>SOMOS KOALA</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <K />
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <p>SOMOS KOALA</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <K />
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <p>SOMOS KOALA</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <K />
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <p>SOMOS KOALA</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <K />
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <p>SOMOS KOALA</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <K />
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <p>SOMOS KOALA</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <K />
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <p>SOMOS KOALA</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <K />
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <p>SOMOS KOALA</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <K />
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <p>SOMOS KOALA</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <K />
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <p>SOMOS KOALA</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <K />
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <p>SOMOS KOALA</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <K />
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <p>SOMOS KOALA</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <K />
      </div>
    </div>
  </div>
</div>

<style>
  .slide {
    min-width: 200px; /* Asegúrate de que los slides tengan un ancho mínimo */
    animation: scroll 180s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .slide-track {
    display: flex;
    overflow: hidden;
  }

  p {
    text-align: center;
    font-size: 24px;
    line-height: 2rem;
    color: #fff;
  }

  @keyframes scroll {
    0% {
      transform: translateX(200%);
    }
    100% {
      transform: translatex(-6000%);
    }
  }
</style>
