---
// components/CounterUp.astro
const { dataVal, text } = Astro.props;
---

<span
  class="num text-primary text-7xl font-black text-center mx-auto"
  data-val={dataVal}></span>
<p class="text-primary text-xl font-medium text-center">{text}</p>
