<form
  action="https://formsubmit.co/your@email.com"
  method="POST"
  class="p-10 md:p-5 mx-auto max-w-7xl my-20"
>
  <div class="mt-2">
    <div class="flex flex-col md:flex-row pb-4 mb-4">
      <div class="w-64 font-bold h-6 mx-2 mt-3 text-white text-2xl">
        Nombre completo
      </div>
      <div class="flex-1 flex flex-col md:flex-row">
        <div class="w-full flex-1 mx-2">
          <div class="my-2 p-1 bg-white flex rounded">
            <input
              id="name"
              name="Nombre"
              type="text"
              autocomplete="name"
              required
              placeholder="Nombre"
              class="p-1 px-2 w-full text-gray-800 appearance-none outline-none"
            />
          </div>
        </div>
        <div class="w-full flex-1 mx-2">
          <div class="my-2 p-1 bg-white flex border border-gray-200 rounded">
            <input
              id="surname"
              name="Apellido"
              type="text"
              autocomplete=""
              required
              placeholder="Apellido"
              class="p-1 px-2 w-full text-gray-800 appearance-none outline-none"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col md:flex-row pb-4 mb-4">
      <div class="w-64 font-bold h-6 mx-2 mt-3 text-white text-2xl">
        Contacto
      </div>
      <div class="flex-1">
        <div class="flex flex-col md:flex-row">
          <select
            name="motivo"
            id="motivo-select"
            required
            class="mx-2 flex-1 h-10 my-2 form-select w-full p-3 md:p-2 rounded-md outline-none"
          >
            <option value="">--Elija una Opción--</option>
            <option value="Consulta">Consulta</option>
            <option value="Cotizacion">Cotizar</option>
            <option value="Productores">Productores</option>
          </select>
          <div class="w-full flex-1 mx-2">
            <div class="my-2 p-1 bg-white flex border border-gray-200 rounded">
              <input
                id="email"
                name="Correo Electronico"
                type="email"
                autocomplete="email"
                required
                placeholder="Email"
                class="p-1 px-2 appearance-none outline-none w-full text-gray-800"
              />
            </div>
          </div>
          <div class="w-full flex-1 mx-2">
            <div class="my-2 p-1 bg-white flex border border-gray-200 rounded">
              <input
                id="city"
                name="Localidad"
                type="text"
                autocomplete=""
                required
                placeholder="Ciudad"
                class="p-1 px-2 appearance-none outline-none w-full text-gray-800"
              />
            </div>
          </div>
        </div>

        <div class="w-full flex-1 mx-2">
          <div class="my-2 p-1 bg-white flex border border-gray-200 rounded">
            <input
              name="Mensaje"
              id="message"
              required="message"
              placeholder="¿Cómo podemos ayudarte?"
              class="p-1 px-2 appearance-none outline-none w-full text-gray-800"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col md:flex-row">
      <div class="w-64 mx-2 font-bold h-6 mt-3 text-gray-800"></div>
      <div class="flex-1 flex flex-col md:flex-row">
        <button
          type="submit"
          class="text-lg mx-auto md:mx-2 w-48 md:w-32 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer
          hover:bg-secondary hover:text-white
          bg-teal-100
          text-primary
          border duration-200 ease-in-out
          border-secondary transition"
        >
          Enviar
        </button>
      </div>
    </div>
  </div>
  <!-- <input
    type="hidden"
    name="_next"
    value="https://www.koalaconsulting.com.ar/"
  /> -->
  <input type="hidden" name="_subject" id="formSubject" value="" />
  <input type="hidden" name="_captcha" value="false" />
</form>
