---
import Met from "@/components/Met.astro";
---

<section class="h-auto md:h-[100vh] mx-auto max-w-7xl mb-20 p-4" id="nosotros">
  <div class="p-2">
    <h1 class="text-7xl text-white font-semibold text-center mb-10">
      ¿Quiénes Somos?
    </h1>
  </div>
  <hr class="w-52 mx-auto border-t border-gray-300 mb-10" />
  <div class="p-2">
    <p class="text-2xl text-white font-normal mb-20 text-center">
      Somos una empresa líder en consultoría estratégica con una trayectoria de
      más de 10 años en optimización de procesos en las industrias aseguradoras
      y tecnológicas. Nos especializamos en identificar oportunidades de mejora
      y en implementar soluciones que tienen un impacto directo en la
      eficiencia, el costo operativo, las ventas y la satisfacción del cliente.
      Nuestro objetivo es impulsar el éxito de su negocio a través de
      estrategias innovadoras y personalizadas.
    </p>
  </div>
  <Met />
</section>
