---
import HeroLogo from "@/components/HeroLogo.astro";
import Instagram from "@/components/Instagram.astro";
import Linkedin from "@/components/Linkedin.astro";
---

<footer
  class="grid grid-cols-1 md:grid-cols-2 h-auto max-w-7xl mx-auto text-white"
  -
>
  <div
    class="flex flex-col gap-2 justify-start md:justify-between items-center place-content-center md:pr-40"
  >
    <HeroLogo class="w-72 mx-auto" />
    <p class="text-center w-80">Potencia en Innovación para tu negocio</p>
    <p class="text-center w-72 md-w-100 mx-auto">
      Plaza Azcuenaga N79, 8B, La Plata - Buenos Aires - ARGENTINA
    </p>
    <div class="flex flex-row gap-4 md:gap-5 justify-center items-center">
      <a href="https://www.instagram.com/koalaconsulting/" target="_blank">
        <Instagram />
      </a>
      <a
        href="https://www.linkedin.com/company/koala-consultingok/"
        target="_blank"
      >
        <Linkedin />
      </a>
    </div>
  </div>
  <div class="flex flex-col md:flex-row gap-4 justify-center">
    <div class="mx-auto text-center">
      <ul class="flex flex-col justify-center gap-3 text-2xl md:text-lg pt-16">
        <strong class="">Compañia</strong>
        <a><li>¿Quienes somos?</li></a>
        <a><li>Trabaja con nosotros</li></a>
        <a><li>Socios</li></a>
        <a><li>Contacto</li></a>
      </ul>
    </div>
    <!-- <div class="mx-auto text-center">
      <ul class="flex flex-col justify-center gap-3 text-2xl md:text-lg py-16">
        <strong class="">Accesos Rapidos</strong>
        <a><li>Home</li></a>
        <a><li>Eventos</li></a>
        <a><li>Preguntas Frecuentes</li></a>
        <a><li>Cotizá con nosotros</li></a>
      </ul>
    </div> -->
  </div>
</footer>
<div class="text-center py-8 w-full text-white">
  <p>© 2024 All rights reserved. Koala Consulting</p>
</div>
