---
import HeroLogo from "@/components/HeroLogo.astro";
---

<nav
  class="max-w-7xl mx-auto flex flex-col md:flex-row md:justify-between
items-center"
>
  <a href="/">
    <HeroLogo class="w-56" />
  </a>
  <div class="pt-16 md:pt-0 text-center flex flex-row justify-center">
    <ul class="flex gap-8 text-lg">
      <li class="text-white hover:text-primary font-bold p-2">
        <a href="/">Servicios</a>
      </li>
      <li class="text-white hover:text-primary font-bold p-2">
        <a href="/">Nosotros</a>
      </li>
      <li class="text-white hover:text-primary font-bold p-2">
        <a href="/">Contacto</a>
      </li>
    </ul>
  </div>
</nav>
