---
import Ilustracion from "@/components/Ilustracion.astro";
import Form from "@/components/Form.astro";
---

<section class="grid grid-cols-1 md:grid-cols-2">
  <div class="flex flex-col justify-center items-center p-3">
    <h1 class="text-oscure font-black text-5xl md:text-6xl text-center">
      Consultores Expertos en Innovación y Desarrollo
    </h1>

    <p class="text-center pt-10 md:pt-5">
      Conecta datos, procesos y equipos de trabajo con soluciones de negocio que
      generen agilidad operativa y más oportunidades de ventas.
    </p>
    <Ilustracion class="scale-75" />
  </div>
  <Form />
</section>
