---
import "@fontsource-variable/urbanist";
interface Props {
  title: string;
}

const { title } = Astro.props;
import Header from "@/sections/Header.astro";
import Footer from "@/sections/Footer.astro";
import Wsp from "@/components/Wsp.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Somos una empresa líder en consultoría estratégica con una trayectoria de más de 10 años en optimización de procesos en las industrias aseguradoras y tecnológicas. "
    />
    <meta
      name="keywords"
      content="Consultoría estratégica, optimización de procesos, reducción de costos operativos, eficiencia empresarial, mejora de ventas, satisfacción del cliente, aseguradoras, industria tecnológica, soluciones personalizadas, estrategias innovadoras"
    />
    <meta name="author" content="Ivan Villa" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      property="og:title"
      content="Consultoría Estratégica para Aseguradoras y Tecnología"
    />
    <meta
      property="og:description"
      content="Más de 10 años ayudando a empresas aseguradoras y tecnológicas a optimizar procesos, reducir costos y mejorar la satisfacción del cliente con estrategias innovadoras."
    />
    <meta
      property="og:image"
      content="https://cdn.pixabay.com/photo/2024/11/26/08/08/08-08-10-555_960_720.png"
    />
    <meta property="og:url" content="URL_DE_TU_PAGINA" />
    <meta property="og:type" content="website" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="https://cdn.pixabay.com/photo/2024/11/26/08/12/08-12-22-48_960_720.png"
    />
    <title>{title}</title>
  </head>
  <body class="pt-5 mx-auto">
    <Header />
    <slot />
    <Footer />
    <Wsp />
  </body>
</html>
<style is:global>
  html {
    font-family: "Urbanist Variable", sans-serif;
    background: rgb(2, 129, 222);
    background: linear-gradient(
      45deg,
      rgba(2, 129, 222, 1) 90%,
      rgba(56, 198, 184, 1) 100%
    );
    overflow-x: hidden;
  }
</style>
