---
import "@fontsource-variable/urbanist";
interface Props {
  title: string;
}

const { title } = Astro.props;
import Header from "@/sections/Header.astro";
import Footer from "@/sections/Footer.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body class="pt-5 mx-auto">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  html {
    font-family: "Urbanist Variable", sans-serif;
    background: rgb(2, 129, 222);
    background: linear-gradient(
      45deg,
      rgba(2, 129, 222, 1) 30%,
      rgba(56, 198, 184, 1) 100%
    );
  }
</style>
